@using WebApplication.Controllers
@model WebApplication.Models.UserViewModel
@{
    ViewBag.Title = "User";
}

<div class="jumbotron">
    <div>
        <p>User: <b>@Model.User.Name</b></p>
        <p>Age: @Model.User.Age</p>
        <p>Height: @Model.User.Height.ToString("F") [cm]</p>
        <p>Weight: @Model.User.Weight.ToString("F") [kg]</p>
        <p>Gender: @Enum.GetName(typeof(UserController.Sex), Model.User.Sex)</p>
    </div>

    <div>
        <p>BMI: @Model.UserHelper.GetBMI().ToString("F"), @Model.UserHelper.GetBMIState()</p>

        <p>BMR: @Model.UserHelper.GetBMR().ToString("F") kcal</p>

        <p>TDEE: @Model.UserHelper.GetTDEE().ToString("F") kcal</p>
    </div>

    @Html.ActionLink("Edit data", "Edit", new { id = @Model.User.UserId })
</div>

