@model IEnumerable<DAL.Workout>

@{
    ViewBag.Title = "Index";
}

<h2>Workouts</h2>

<p>
    @Html.ActionLink("Add new workout", "Create")
</p>

<div class="jumbotron">
    @foreach (var item in Model)
    {
    <b>@item.Name</b>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Sets</td>
                <td>Reps</td>
            </tr>
            @foreach (var w in item.WorkoutExercises)
            {
                <tr>
                    <td>@w.Exercise.Name</td>
                    <td>@w.Sets</td>
                    <td>@w.Reps</td>
                </tr>
            }
        </table>
        }
</div>