@model IEnumerable<DAL.WorkoutExercise>
@using DAL
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>List of workout exercises</h2>
<table class="table">
    <tr>
        <td><b>Exercise</b></td>
        <td><b>Sets</b></td>
        <td><b>Reps</b></td>
        <td><b>Workout</b></td>
        <td></td>
    </tr>
    @foreach (WorkoutExercise workoutExercise in ViewBag.OnePageOfData)
    {
    <tr>
        <td>
            @workoutExercise.Exercise.Name
        </td>
        <td>
            @workoutExercise.Sets
        </td>
        <td>
            @workoutExercise.Reps
        </td>
        <td>
            @workoutExercise.Workout.Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = workoutExercise.WorkoutExerciseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = workoutExercise.WorkoutExerciseId })
        </td>
    </tr>
    }
</table>
<p>
    @Html.ActionLink("Add exercise", "Create")
</p>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfData, page => Url.Action("Index", new { page }))
