@model WebApplication.Models.ChartViewModel
@{
    ViewBag.Title = "ChartData";
}

<h2>Generate chart</h2>
<p>Select exercise and number of data to be included on the chart. If there is not enough data,
     <br>chart will be created anyway, but it will not have specified amount of data points.</p>

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ExerciseId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ExerciseId", @ViewBag.ExercisesList as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ExerciseId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AmountOfData, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AmountOfData", @ViewBag.AmountValues as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AmountOfData, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}
