@model IEnumerable<DAL.Record>

@{
    ViewBag.Title = "Get";
}

@using DAL
@using PagedList.Mvc;
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>List of records</h2>
<table class="table">
    <tr>
        <td><b>Exercise</b></td>
        <td><b>Weight lifted [kg]</b></td>
        <td><b>Date</b></td>
        <td><b>User</b></td>
        <td></td>
    </tr>
    @foreach (Record record in ViewBag.OnePageOfData)
    {
        <tr>
            <td>
                @record.Exercise.Name
            </td>
            <td>
                @record.WeightLifted
            </td>
            <td>
                @record.Date.Value.ToShortDateString()
            </td>
            <td>
                @record.User.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = record.RecordId}) |
                @Html.ActionLink("Delete", "Delete", new {id = record.RecordId})
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Add record", "Create")
</p>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfData, page => Url.Action("Index", new { page }))
