@{
    ViewBag.Title = "Exercise Listing";
}
@using DAL
@using PagedList.Mvc;
@using PagedList; 

@Styles.Render("Site.css")

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Manage exercises</h2>
<p>Amount of calories burned is specified for 25 reps (approximately 20 mins of exercise, including rest time.</p>
<table class="table">
    <tr>
        <td><b>Exercise</b></td>
        <td><b>Kcals burned</b></td>
        <td></td>
    </tr>
    @foreach (Exercise exercise in ViewBag.OnePageOfData)
    {
        <tr>
            <td>
                @exercise.Name
            </td>
            <td>
                @exercise.CaloriesBurned.ToString("F")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = exercise.ExerciseId}, new { @class = "btn btn-primary btn-sm" }) 
                @Html.ActionLink("Delete", "Delete", new {id = exercise.ExerciseId}, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Add exercise", "Create", null, new { @class = "btn btn-success btn-large" })
</p>
@Html.PagedListPager( (IPagedList)ViewBag.OnePageOfData, page => Url.Action("Index", new { page }) )
